.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
}

.creatorsContainer {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* reduce to 1 column on small screens */
@media (max-width: 600px) {
  .creatorsContainer {
    flex-direction: column;
  }

  .creatorsContainer div {
    width: 100%;
  }
}
